@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Raleway');

@font-face {
  font-family: "Raleway Light";
  font-style: normal;
  font-weight: 300;
  src: url("https://fonts.gstatic.com/l/font?kit=cem5rtbF_kq3-MaxgfX9NWzUvJgeP2bx2clZuEes0Mm9xeSCsvFz2Xrhn_bFFPDsZd9v5n0yLo6cRiSuMKW4bPoaPo7dPrSH1dex8Vu8V3N517sQgMSX88N4n7x4uoUrBtAdy9w1ibga7XQdpsFzPfUsZ0uUUc3l683fEPfBl0QfI6fNkP1lHUaXd28E4UKjOI01dpyuW8vmR8CCPsTQbfesZW2xOQ-xsNqO47m55DA&skey=f383b08b06c2c86f&v=v11");
}

@font-face {
  font-family: "Raleway Bold";
  font-style: normal;
  font-weight: 300;
  src: url("https://fonts.gstatic.com/l/font?kit=vGvz2k-2oTS8w5mD5IuM52zUvJgeP2bx2clZuEes0Mm9xeSCsvFz2Xrhn_bFFPDsZd9v5n0yLo6cRiSuMKW4bPoaPo7dPrSH1dex8Vu8V3N517sQgMSX88N4n7x4uoUrBtAdy9w1ibga7XQdpsFzPfUsZ0uUUc3l683fEPfBl0QfI6fNkP1lHUaXd28E4UKjOI01dpyuW8vmR8CCPsTQbfesZW2xOQ-xsNqO47m55DA&skey=e507c3e2b7915ad1&v=v11");
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}


$break-1: 700px;
$break-2: 1000px;


// fonts
h1, h2, p {
  font-family: 'Raleway Light', sans-serif;
  strong {
    font-family: 'Raleway Bold', sans-serif;
    font-weight: bold;
  }
}
h1 {

  font-size: 2em;
  padding: 0;

}
h2 {
  font-size: 2em;
  line-height: 1.2em;
}
p {
  font-size: 1.5em;
}

#brainstorm {
  font-family: 'Coming Soon', monospace;
}
#draft {
  font-family: 'Arvo', monospace;
}
#prototype {
  font-family: 'Inconsolata', monospace;
}

.parallaxpicture {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
// section
.full {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
  min-height: 100vh;
  position: relative;

}
.partial {
  max-height: 100%;
  height: 80vh;
  width: 100vw;
  max-width: 100%;
  position: relative;
}
.hero {
  position: relative;
  height: auto;
  max-width: 100%;
  width: 100vw;
  max-height: 100%;
}

.landing{
  background-color: black;
  background-image: url("../img/brain.png");


  display: flex;
  height: inherit;
  width: inherit;
  .content{
    padding-left: 5%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    .logo{
      order: 1;
      flex: 1 1 auto;
      align-self: auto;
      height: 6em;
      max-width: 6em;
    }
    .coca{
      order: 2;
      flex: 0 1 auto;
      align-self: auto;
      h1, p {
        color: white;
      }
      h1 {
        @media (min-width: $break-1) and (orientation: landscape) {
          font-size: 6em;
        }
        @media (min-width: $break-2) and (orientation: landscape) {
          font-size: 10em;
        }
      }
      p {
        padding-left: 25%;
        @media (min-width: $break-1) and (orientation: landscape) {
          font-size: 3.5em;
        }
        @media (min-width: $break-2) and (orientation: landscape) {
          font-size: 5em;
        }
      }
    }
  }
}

.about {
  background-color: white;
  height: inherit;
  width: inherit;

  .content {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    margin-bottom: 5%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    .title{
      order: 1;
      flex: 1 1 auto;
      align-self: flex-start;
      margin-bottom: 2%;
      h1{
        font-family: 'Raleway Bold', sans-serif;
      }


    }
    .desc{
      order: 2;
      flex: 1 1 auto;
      align-self: center;

      padding-left: 10%;
      padding-right: 10%;

      p {
        font-size: .5;
        @media (min-width: $break-1) and (orientation: landscape) {
          font-size: 1em;
        }
        @media (min-width: $break-2) and (orientation: landscape) {
          font-size: 2em;
        }
      }

    }
    a.btn{
      order: 3;
      flex: 1 1 auto;
      align-self: flex-end;
      margin-right: 2%;


    }


  }
}

.event {
  background-color: black;
  background-image: url("../img/colorgrid.png");
  height: inherit;
  width: inherit;

  .content {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5%;
    padding-bottom: 5%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    color: white;

    .title{
        order: 1;
        flex: 0 1 auto;
        align-self: auto;
        margin-bottom: 3%;
        border-bottom: solid;
        padding-left: 2%;
        padding-right: 2%;
        h1 {

          @media (min-width: $break-1) and (orientation: landscape) {
            font-size: 3em;
          }
          @media (min-width: $break-2) and (orientation: landscape) {
            font-size: 5em;
          }
        }
    }
    .topics{
      order: 2;
      flex: 1 1 auto;
      align-self: auto;
      p {
        text-align: center;
      }
    }
    .definition{
      order: 4;
      flex: 1 1 auto;
      align-self: auto;
      text-align: center;
    }
    .button{
      order: 3;
      flex: 1 1 auto;
      align-self: auto;
      color: white;
      a.btn{
        border: 3px solid white;
        color: white;

      }
      a.btn:hover{
        background:#7D7F86;
      }
    }
  }

}

.intro{
  background-color: black;
  background-image: url("../img/brain.png");


  .content {
    background: transparent;
    padding-top: 10%;
    margin-left: 3%;
    margin-right: 5%;
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;

    .hook {
      order: 1;
      flex: 0 1 auto;
    }
    .definition {
      order: 2;
      flex: 0 1 auto;
    }
  }
  h1, h2 {
    color: white;
  }

}

.diversity {

  background-color: white;

  .content {
    text-align: center;
    background: transparent;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;

    h1 {
      padding-bottom: 1em;
      line-height: 1.25em;
    }
  }
}

.projects {
  background-color: black;
  background-image: url("../img/colorgrid.png");
  .content {
    text-align: center;
    background: transparent;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;

  }
  .hook {
    h1 {
      color: white;
    }

  }
  .projectlist {
    padding-top: 3%;
    h2 {
      color: white;
    }
  }
  .conc {
    h1 {
      color: white;
    }

  }
}

.showcase {
  .content {
    text-align: center;
    background: transparent;
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 10%;
  }
}
.invite {
  overflow: hidden;
  background-color: black;
  background-image: url("../img/octopus.png");

  .content {
    text-align: center;
    background: transparent;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;

    h1 {
      color: white;
      p {
        color: white;
      }
    }
    p {
      color: white;
    }
  }
}
.contact{
  background-color: white;
  background-image: url("../img/octopus.png");
   background-position: right top;
  .content{
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 15%;

    .hook {
      margin-bottom: 5%;
    }
    p {
      text-align: right;
      @media (min-width: $break-1) and (orientation: landscape) {
        font-size: 2.75em;
      }
      @media (min-width: $break-2) and (orientation: landscape) {
        font-size: 3.5em;
      }

      a{
        font-family: 'Raleway Bold', sans-serif;
        text-decoration: none;
        color: #734bae;
      }
      a:hover{
        color: #9991ae;
      }
    }
  }

}

a.btn {
  border: 3px solid #026B91;
  font-family: 'Raleway Bold', sans-serif;
  font-size: 2em;
  font-size: inherit;
  text-decoration: none;
  color: black;
  background: transparent;
  cursor: pointer;
  padding: 1rem 2rem;
  display:inline-block;
  text-align:center;
  margin-top: 2em;
  margin-bottom: 2em;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  border-radius:2px;
  -webkit-transition:all 0.1s ease-in-out;
     -moz-transition:all 0.1s ease-in-out;
          transition:all 0.1s ease-in-out;
}
a.btn:hover{
  background:#DEE4E8;
}
